/* #FE7D4E - Orange */
/* #333333 - Sort tekst */
/* #543D32 - Brun tekst */
/* #707070 - Lys grå tekst */
/* #FFF7F3 - Primær baggrund */
/* #FEFDF9 - Lys baggrund (månedens bog) */
/* #FEF2F2 - Harry potter baggrund */



/* General styling */
body{
    background: #FFF7F3;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* ------Header styling------ */

/* Navigation styling */
.navH1, .navButton{
    color: #FE7D4E;
}
.navHeader > h1{
    margin: auto 0;
}
.navHeader{
    display: flex;
    margin: auto 0;
}
.navLink{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
.navLink, .navButtonLink{
    margin: 0;
    margin-left: 20px;
}
.navButton{
    border-radius: 30px;
    border: none;
    background-color: #FFECE5;
    height: 6ch;
    width: 18ch;
    cursor: pointer;
}
.navButtonLink:hover > .navButton{
    text-decoration: underline;
}
.navigationBar{
    transform: translateY(40px); transition: transform 0.5s ease 0s; top: -40px; position: fixed;
    background-color: #FFF7F3;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}
.links{
    margin: auto 0;
    z-index: 3;
}
.navLink:hover{
    text-decoration: underline;
}
.hamburgerMenu{
    display: none;
    width: 12ch;
    height: 5ch;
    background-color: #FE7D4E;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    margin: auto 0;
    cursor: pointer;
}
.hamburgerMenu:hover{
    text-decoration: underline;
}

/* Hero styling */
.heroImg{
    background-image: url(/img/hero\ image\ v2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;    
    box-shadow: 0px 0px 500px 500px rgba(0,0,0,0.55) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroP{
    width: 50%;
    color: white;
    z-index: 1;
    text-align: center;
}



/* ------Main styling------ */

/* SecondHand styling */
.secondHandH1{
    font-size: 1rem;
}
.secondHand{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: auto;
    margin-bottom: 50px;
}
.showMoreLink{
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.showMoreLink:hover{
    text-decoration: underline;
}
.showMoreImg{
    width: 24px;
}
.secondHandText{
    display: flex;
    justify-content: space-between; 
}
.secondHandImgGroup{
    display: flex;
    justify-content: space-between;
}
/* secondHand book styling */
.secondHandBook{
    cursor: pointer;
    margin: 10px;
    max-width: 250px;
    min-width: 120px;
    max-height: 400px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}



/* Book of the Month ASIDE styling */

.monthBook{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 0;
}
.monthBookAside{
    width: 30%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.asideH1, .asideLink{
    color: #543D32;
}
.asideLink{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    margin-top: 35px;
}
.asideLink:hover{
    text-decoration: underline;
}
.asideImg{
    width: 24px;
}
.asideH1{
    font-size: 30px;
    margin-bottom: 28px;
}
.asideP{
    color: #707070;
    width: 200px;
}

/* Book of the month MAIN Styling */
.monthBookH1{
    color: #543D32;
}
.monthMainImg{
    max-width: 272px;
    margin-left: 13%;
}
.monthMainH1{
    color: #74432e;
    font-size: 30px;
    margin-bottom: 10px;
}
.monthMainH2{
    color: #543D32;
    font-size: 20px;
}
.monthMainP{
    color: #949494;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -10px;
}
.monthBookMain{
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #fff2ee;
    width: 70%;
}
.monthMainAlign{
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.monthBookH2{
    font-size: 20px;
}
.monthMainDesc{
    color: #707070;
    max-width: 400px;
    margin-top: 20px;
}
.monthMainText, .monthMainLink{
    margin-left: 20px;
}
.monthMainText{
    width: 500px;
    margin-bottom: 25px;
    margin-left: 10%;
}
.monthMainBtn{
    background-color: #FE7D4E;
    color: white;
    font-weight: 600;
    height: 45px;
    width: 160px;
    border: none;
    border-radius: 50px;
    margin-top: 80px;
    margin-left: -25px;
}
.monthMainLink:hover > .monthMainBtn{
    text-decoration: underline;
}



/* ------Signup Styling------ */
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 486px;
    margin-top: 60px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/Cover-Bogklub.jpg);
}
.signupLink{
    text-decoration: none;
}
.signupBtn{
    background-color: #FE7D4E;
    color: white;
    border: none;
    height: 45px;
    width: 190px;
    border-radius: 50px;
    font-weight: 600;
}
.signupLink:hover > .signupBtn{
    text-decoration: underline;
}



/* ------Footer Styling------ */
.footer{
    flex-direction: row;
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #FEFDF9;
}
.footerH1Group{
    display: flex;
    margin: auto 0;
    margin-bottom: -8px;
}
.footerH1{
    color: #FE7D4E;
}
.footerH2{
    margin-bottom: -10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}
.footerSvg{
    cursor: pointer;
    fill: #FE7D4E;
    width: 50px;
    margin-top: 15px;
}
.footerP, .footerH2{
    color: #543D32;
}
.footerP{
    font-weight: 500;
    margin-bottom: -13px;
}
.footerImg{
    height: 100%;
   position: absolute;
   right: 0;
}
.footerTextSection{
    font-size: 12px;
    display: flex; 
    flex-direction: column;
    margin-left: 200px;
    margin-top: 50px;
}
.footerTextSection2{
    margin-top: 25px;
}
.footerText5{
    margin-top: 30px;
}




/* ------Animations------ */
@keyframes linksAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes linksAnimation2{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



@media screen and (max-width: 1240px){
    .footerImg{
        display: none;
    }
    .footerTextSection{
        margin: auto;
    }
    .footer{
        justify-content: center;
    }
   
}
@media screen and (max-width: 800px){
    .monthBookMain{
        flex-direction: column;
    }
    .monthMainImg{
        margin: 0 auto;
    }
}
@media screen and (max-width: 700px){
    
    .signup{
        margin-top: 850px;
    }
    .footer{
        margin-top: 150px;
    }
}
@media screen and (min-width: 701px) and (max-width: 1280px){
    .signup{
        margin-top: 600px;
    }
    .footer{
        margin-top: 150px;
    }
}
@media screen and (max-width: 800px){
    .secondHandImgGroup{
        flex-wrap: wrap;
    }
    .secondHandImgGroup{
        justify-content: space-between;
    }
    .monthMainImg{
        height:300px; width: auto;
    }
    .monthMainH1{
        font-size: 25px;
    }
    .monthMainH2{
        font-size: 20px;
    }
    .monthMainBtn{
        margin-top: -20px;
    }
    .navButton{
        width: 14ch
    }
}
@media screen and (max-width: 900px){
    .secondHandBook{
        max-width: 120px;
    }
}
@media screen and (max-width: 1120px){
    .signup{
        margin-bottom: -50px;
    }

}
@media screen and (max-width: 1279px){
    .signupBtn{
        height: 30px;
        width: 140px;
        font-size: 10px;
    }
    .monthBook{
        height: 300px; 
        width: 100%; 
        flex-direction: column;
    }
    .monthBookMain{
        width: 100%;
    }
    .monthMainImg{
        height: 85%;
    }
    .monthBookAside{
        height: 340px;
         width: 100%; 
         justify-content: space-between; 
         padding-bottom: 30px;
    }
}
@media screen and (max-width: 900px) and (min-width: 801px){
    .secondHand{
        margin-top: 40px;
    }

}
@media screen and (max-width: 890px){
   .links{
       opacity: 0;
       position: absolute;
       top: 80px;
       border-radius: 50px;
        animation-name: linksAnimation;
        animation-duration: .8s;
        animation-fill-mode: forwards;
    }
    .links{
        background-color: #FEFDF9;
    }
   .hamburgerMenu{
       display: block;
    }
    .navButton{
        width: 90%;
    }
}
@media screen and (min-width: 760px) and (max-width: 1180px){
    .secondHand{
        height: 350px;
    }

}
@media screen and (max-width: 1280px) and (min-width: 1200px){
    .monthMainImg{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1220px){
    .signup{
    background-position: 95%;
    }
}
@media screen and (max-width: 801px) and (min-width: 700px){
    .signup{
        margin-top: 880px;
    }
} 
@media screen and (max-width: 376px){
    .monthMainP, .monthMainH1, .monthMainH2, .monthMainDesc{
        margin-left: 60px;
    }
    .monthMainBtn{
        margin-left: 40px;
    }
    .monthMainH1{
        font-size: 20px;
    }
    .monthMainH2{
        font-size: 15px;
    }
    .monthMainDesc{
        width: 200px;
        margin-bottom: 20px;
    }
    .signup{
        background-size: contain;
        margin-top: 700px;
        margin-bottom: -250px;
    }
}
